# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor/IDE
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ruby
*.gem
*.rbc
.bundle/
vendor/bundle/

# Homebrew
*.bottle.tar.gz

# Local artifacts (intermediate files, test output, etc.)
/artifacts/
steps_output.txt
